.drop-area {
     width: 11.9rem;
     height: 4rem;
     border-radius: 1rem;
     background-color: var(--shape-button);
     text-align: center;
     position: relative;

     input {
        all: unset;
        inset: 0;
        cursor: pointer;
        position: absolute;
        opacity: 0;
     }

     div {
        padding-block: 1rem;

        img {
            transform: translateX(-4px);
        }
     }

}