input, textarea, select {
    /* height: 4rem; */
    appearance: none;
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);

    padding: 1rem 1.6rem;

    color: var(--text-body);
    font: var(--bd-sm);

}

label {
    font: var(--bd-sm);
    display: block;
    margin-bottom: 1rem;
    color: var(--text-body);
}

input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--brand-light);
    outline: 1px solid var(--brand-light);
}

.Info {
    width: 56rem;
    height: 13.6rem;
}


