@import url(fields/index.css);

form {
    margin-top: 4rem;
}

fieldset {
    border: none;
    display: grid;
    gap: 2.4rem;
    grid-auto-flow: row;
    
}

legend {
    margin-bottom: 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

#contato {
     margin-top: 3rem;
     position: relative;

     & .error {
        opacity: 0;
     }

     .gap-16 {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
     }
}
