.text-lg {
    font: var(--text-lg);
    color: var(--pink);
}

.hd-md {
    font: var(--hd-md);
    color: var(--text-heading);
}

.hd-sm {
    font: var(--hd-sm);
    color: var(--text-heading);
}

.bd-md {
    font: var(--bd-md);
    color: var(--text-heading);
}

.bd-sm {
    font: var(--bd-sm);
}

.bd-xs {
    font: var(--bd-xs);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.gap-16 {
    gap: 1.6rem;
}